<!-- Full Page Intro -->
<div class="view">
    <!-- Mask & flexbox options-->
    <div class="mask gradient-card align-items-center">
        <!-- Content -->
        <div class="container d-flex justify-content-center my-4">

            <div id="mobile-box">

                <h4 class="my-5 h5 text-center" style="color:rgb(235, 232, 234)">Love You Sis<i class="fas fa-play ml-2"></i></h4>

                <!-- Card -->
                <div class="card">

                    <!-- Card image -->
                    <div class="view">
                        <img class="card-img-top" src="assets/WhatsApp Image 2020-11-09 at 17.02.06.jpeg" alt="Card image cap">
                        <a>
                            <div class="mask gradient-card"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body text-center">

                        <h5 class="h5 font-weight-bold"><a>Dj Ali</a></h5>
                        <p class="mb-0">Urban Love remix</p>

                        <audio id="music" preload="true">
                  <source src="assets/WhatsApp Audio 2020-11-09 at 17.01.08.mp4">
              </audio>
                        <div id="audioplayer">
                            <i id="pButton" class="fas fa-play"></i>
                            <audio controls>
                              <source src="assets/WhatsApp Audio 2020-11-09 at 17.01.08.mp4" type="audio/mp3">
                              Your browser does not support the audio element.
                            </audio>
                        </div>



                    </div>

                </div>
                <!-- Card -->


            </div>
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
